/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* CSS Components */
@import url('components/banner.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/footer.css');




:root {
  --green: #7be8a3
}

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
  max-width: 880px;
  padding: 0 40px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 2.5%;
}

.card-container {
  text-align: center;
}

.card-container h2 {
  font-size: 1.6em;
  margin: 32px 0;
}

