.hero-banner {
  height: 600px;
  background-image: url('../../images/background.png');
  background-position: center;
  background-size: cover;

  display: flex;

  align-items: center;
}


.hero-banner h1 {
  color: white;
  font-size: 2.4em;
  line-height: 1.4em;
}

.hero-banner p {
  color: white;
  margin-bottom: 35px;
  color: #ccc;
  font-size: 1.3em;
}
