.card {
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
  text-align: center;
  padding: 24px 20px;
  border-radius: 4px;
}


.card img {
  height: 100px;
}

.card h2 {
  font-size: 1.2em;
}


.card p {
  columns: var(--grey-text);
}
