footer {
  height: 210px;
  background-color: #333;
  display: flex;

  align-items: center;
  justify-content: space-around;
  text-align: center;

  margin-top: 32px;
}


footer p {
  color: #777;
}

footer .fab{
  color: var(--green);
  font-size: 2em;
}
